{% extends "_base.html" %}

{% macro input(name, label, errors, value='', placeholder='', type='text', size='64') %}
<div class="row">
  <div class="col-md-12">
    <label for="{{ name }}">{{ label }}</label>
    <input id="{{ name }}" 
	   name="{{ name }}"
	   value="{{ value }}" 
	   placeholder="{{ placeholder }}"
	   type="{{ type }}"
	   size="{{ size }}"
	   class="form-control" />
  </div>
</div>
{% endmacro %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Your Information</h2>
    <p>Please provide your full legal name and address. We've pre-filled the form with information from your user profile. Please change the fields below if your full legal name is different.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>Your Name</h4>
    {{ input("title", "Title") }}
    {{ input("first_name", "First Name", value=current_user.first_name) }}
    {{ input("last_name", "Last Name", value=current_user.last_name) }}
    <h4>Address</h4>
    {{ input("street_line_1", "Street Line 1") }}
    {{ input("street_line_2", "Street Line 2") }}
    {{ input("city", "City") }}
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>
{% endblock %}
