{% extends "wrap.html" %}

{% block head %}
<style>
html { 
  background: url({{ c.gallery.images[0].url }}) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background-color: transparent;
}
#footer_wrapper {
  background-color: rgba(0,0,0,0.8)
}
</style>
{% endblock %}

{% block class_content %}semi-transparent{% endblock %}

{% block page_stuff %}
<div class="row">
  <div class="col-sm-8">
    <h2>{{ c.title }}</h2>
    <h4 class="text-muted">In this issue of {{ s.title }}:</h4>
    <div class="row">
      {% for a in c.paragraphs %}
      <div class="col-sm-12">
	<div class="row">
	  <div class="col-xs-12">
	    <a href="/{{ s.slug }}/{{ c.slug }}/{{ a.id }}">
	      <div class="magazine-article-image-wrapper">
		<img class="img-responsive" src="{{ a.gallery.images[0].url }}" />
		<div class="article_image_text">
		  <div class="article_image_text_text">
		    <h3>{{ a.title }}</h3>
		    <p>{{ a.abstract }}</p>
		  </div>
		</div>
	      </div>
	    </a>
	  </div>
	</div>
      </div>
      {% endfor %}
      
      <div class="col-xs-12">
	<br />
	<br />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h2>Reader's Poll</h2>
    <div class="proto_component">
      <p>Imagine a poll</p>
    </div>
    <div class="proto_component">
      <p>Last poll's results</p>
    </div>
    <h2>Downloads</h2>
    <div class="proto_component">
      <p>Pdf & Online Edition Links</p>
    </div>
    <h2>Sponsors</h2>
    <div class="proto_component">
    </div>
  </div>
</div>
{% endblock %}
