{% extends "_base.html" %}

{% from "_macros.html" import input %} 

{% block content %}
<form id="register_user_form">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
	<div class="col-md-12">
	  <h2>Enter User Information</h2>
	</div>
      </div>
      {{ input("first_name", "First Name") }}
      {{ input("last_name", "Last Name") }}
      {{ input("email", "Email") }}
      {{ input("confirm_email", "Confirm Email") }}
      
    </div>
    <div class="col-md-4">
      {% if (current_user | has_admin) %}
      <h2>Assign Roles</h2>
      {% for r in roles %}
      <label><input type="checkbox" name="roles[]" value="{{ r.name }}" /> {{ r.name }}</label>
      <br />
      {% endfor %}
      <h2>Assign Permissions</h2>
      {% for s in sections %}
      <label><input type="checkbox" name="permissions[]" value="{{ s.id }}" /> {{ s.title }}</label>
      <br />
      {% endfor %}
      {% endif %}
      <div class="pull-right">
	<button type="submit" 
		class="btn btn-primary btn-lg" 
		id="sign_up">Sign Up</button>
      </div>
    </div>
    <div class="col-md-4">
      <h1>What happens next?</h1>
      <p>After submitting this information check your email. We will be sending you an email with a link to confirm your email account.</p>
    </div>
  </div>
</form>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/user_signup.js"></script>
{% endblock %}
