{% extends "_base.html" %}

{% block nav %}
{% include "_login_nav.html" %}
{% endblock %}

{% block carousel %}
<section class="block">
  <div id="main_carousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#main_carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main_carousel" data-slide-to="1"></li>
      <li data-target="#main_carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="active item">
        <img src="/static/img/plug.jpg" alt="Slide1" />
	<div class="carousel-caption">
	  <h1>Connect With Employers</h1>
	  <p>Through {{ config.NAME }} you will be able to connect directly with employers looking for somebody exactly like you.</p>
        </div>
      </div>
      <div class="item">
        <img src="/static/img/test.jpg" alt="Slide2" />
	<div class="carousel-caption">
	  <h1>One & Done</h1>
	  <p>Fill out standardized information on {{ config.NAME }} once and use it to apply everywhere.</p>
	</div>
      </div>
      <div class="item">
        <img src="/static/img/cash.jpg" alt="Slide3" />
	<div class="carousel-caption">
	  <h1>{{ config.NAME }} is Free for Job Seekers</h1>
	  <p>{{ config.NAME }} works with employers to reduce overhead costs in the hiring process. This means that we are able to offer our services free to people seeking a job.</p>
	</div>
      </div>
    </div>
    <a class="carousel-control left" href="#main_carousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#main_carousel" data-slide="next">›</a>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <h2>{{ config.NAME }} for Job Seekers</h2>
    <p>Sign up for {{ config.NAME }} to get started. After the sign up process has been completed the automated matching process will begin to provide you with job postings you qualify for.</p>
    <div class="pull-center">
      <a role="button" 
	 class="btn btn-primary"
	 href="/user_signup">Sign Up</a>
    </div>
  </div>
  <div class="col-md-4">
    <h2>{{ config.NAME }} for Employers</h2>
    <p>Sign up as an employer to begin the process of acquiring quality employees with minimal overhead. Using analytics provided by {{ config.NAME }} you will be able to filter through employees until you find the perfect fit.</p>
    <div class="pull-center">
      <a role="button" 
	 class="btn btn-primary" 
	 href="/user_signup">Employer Sign Up</a>
    </div>
  </div>
  <div class="col-md-4">
    <h2>About {{ config.NAME }}</h2>
    <p>{{ config.NAME }} is committed connecting you with employers while respecting your privacy. We will never share personally identifying information with employers without your consent.</p>
    <div class="pull-center">
      <a role="button" class="btn btn-info">Learn More</a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

